
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  background-color: #FFC0CB;
}

.App {

  text-align: center;

  padding-top: 10rem;

}

.todo-container {

  width: 600px;
  background-color: white;
  margin: 0 auto;
  margin-top: 3em;

  padding: 2em;

  text-align: center;

  border: 3px dashed black;

}

.entry-container {
  margin-top: 2em;
}

.list-container {
  margin-top: 1em;
}

.btn-add {
  padding: 0 0.5em;
  margin-left: 5px;
}
